/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.css';

body {
  height: 100%;
}

div#root {
  height:100%;
}



.ant-layout.ant-layout-has-sider {
  height: 100%;
}
